/* 10-4-Using Fonts*/

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* padding: 1rem; */
}



@layer base {
  h1 {
    @apply font-extrabold text-2xl mb-3 font-poppins;
    /* Here we can apply "the default classes" for our standard HTML
     elements So here we can say our h1 elements should use "font-poppins" */
  /* Go to page.tsx */
    }
}
